* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 2rem;
}

:root {
  --default-text-color: white;
  --default-dashboard-bg-color: #1992d4;
  --default-header-bg-color: #ffffff;
  --default-header-icon-color: #2b2b2b;
  --dashboard-size: 330px;
}

.material-icons {
  color: var(--default-text-color);
}

p {
  color: var(--default-text-color);
}

body {
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template: 2fr 11fr / var(--dashboard-size) 4fr;
  grid-template-areas:
    "dashboard header"
    "dashboard main-content";
}

.main-container {
  .dashboard {
    grid-area: dashboard;
    display: grid;
    grid-template-rows: 1fr 12fr;
    background-color: var(--default-dashboard-bg-color);
  }

  .header {
    grid-area: header;
    display: grid;
    grid-template: repeat(2, 100px) / 2fr 1fr;
    grid-template-areas:
      "search-bar notifications"
      "greeting   buttons";
    background-color: var(--default-header-bg-color);
  }

  .main-content {
    grid-area: main-content;
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(2, 1fr) / 5fr 2fr;
    grid-template-areas:
      "projects announcements"
      "projects trending";
  }
}

.dashboard {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.35em;
  }
  .menu {
    display: flex;
    justify-content: center;
  }
}

.logo {
  h1 {
    color: var(--default-text-color);
    letter-spacing: -0.15rem;
    font-size: 1.3em;
  }
  .material-icons {
    font-size: 1.3em;
  }
}

.menu {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin-top: 1.3em;
  }

  li {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
  }

  p {
    font-size: 90%;
  }

  .material-icons {
    font-size: 1em;
  }
}

.header {
  .search-bar {
    grid-area: search-bar;
    display: grid;
    grid-template-columns: 50px 80%;
    grid-auto-rows: 35%;
    justify-content: center;
    align-content: center;
    gap: 10px;
  }
  .notifications {
    grid-area: notifications;
    display: grid;
    grid-template-columns: 2fr 3fr 8fr;
    gap: 5px;
  }
  .greeting {
    grid-area: greeting;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .buttons {
    grid-area: buttons;
    background-color: darkgoldenrod;
  }
}

.main-content {
  .projects {
    grid-area: projects;
    background-color: royalblue;
  }
  .announcements {
    grid-area: announcements;
    background-color: mediumseagreen;
  }
  .trending {
    grid-area: trending;
    background-color: violet;
  }
}

.search-bar {
  .material-icons {
    font-size: 100%;
    margin: auto;
  }
  input {
    border: none;
    background-color: #e2e8f0;
    border-radius: 20px;
  }
}

.header .material-icons {
  color: var(--default-header-icon-color);
}

.notifications {
  .material-icons {
    margin: auto;
    margin-right: 0;
  }
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: auto;
  }
  p {
    margin: auto 0;
    color: var(--default-header-icon-color);
    font-weight: bold;
    font-size: 70%;
  }
}

.greeting {
  img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  h1,
  p {
    color: var(--default-header-icon-color);
  }

  h1 {
    font-size: 0.9em;
  }

  p {
    font-size: 0.6em;
  }
}

.greeting-div {
  display: flex;
  gap: 0.6em;
  width: 85%;
  margin: auto;
}

.greeting-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  button {
    border: none;
    background-color: var(--default-dashboard-bg-color);
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    padding: 20px;
    width: 5em;
    border-radius: 50px;
  }
}
