* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 2rem;
}

:root {
  --default-text-color: white;
  --default-dashboard-bg-color: #1992d4;
  --default-header-bg-color: #ffffff;
  --default-header-icon-color: #2b2b2b;
  --dashboard-size: 330px;
}

.material-icons {
  color: var(--default-text-color);
}

p {
  color: var(--default-text-color);
}

body {
  height: 100vh;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template: 2fr 11fr / var(--dashboard-size) 4fr;
  grid-template-areas:
    "dashboard header"
    "dashboard main-content";
}

.main-container {
  .dashboard {
    grid-area: dashboard;
    display: grid;
    grid-template-rows: 1fr 12fr;
    background-color: var(--default-dashboard-bg-color);
  }

  .header {
    grid-area: header;
    display: grid;
    grid-template: repeat(2, 100px) / 550px 1fr;
    grid-template-areas:
      "search-bar notifications"
      "greeting   buttons";
    background-color: var(--default-header-bg-color);
  }

  .main-content {
    grid-area: main-content;
    background-color: #e2e8f0;
    display: grid;
    grid-template: 590px 1fr / 5fr 2fr;
    column-gap: 20px;
    grid-template-areas:
      "projects announcements"
      "projects trending";
  }
}

.dashboard {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.35em;
  }
  .menu {
    display: flex;
    justify-content: center;
  }
}

.logo {
  h1 {
    color: var(--default-text-color);
    letter-spacing: -0.15rem;
    font-size: 1.3em;
  }
  .material-icons {
    font-size: 1.3em;
  }
}

.menu {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin-top: 1.3em;
  }

  li {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
  }

  p {
    font-size: 90%;
  }

  .material-icons {
    font-size: 1em;
  }
}

.header {
  .search-bar {
    grid-area: search-bar;
    display: grid;
    grid-template-columns: 50px 80%;
    grid-auto-rows: 35%;
    justify-content: center;
    align-content: center;
    gap: 10px;
  }
  .notifications {
    grid-area: notifications;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 50px;
  }
  .greeting {
    grid-area: greeting;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .buttons {
    grid-area: buttons;
    justify-content: flex-end;
    margin-right: 50px;
  }
}

.main-content {
  .projects {
    grid-area: projects;
  }
  .announcements {
    grid-area: announcements;
  }
  .trending {
    grid-area: trending;
  }
}

.search-bar {
  .material-icons {
    font-size: 100%;
    margin: auto;
  }
  input {
    border: none;
    background-color: #e2e8f0;
    max-width: 400px;
    border-radius: 20px;
  }
}

.header .material-icons {
  color: var(--default-header-icon-color);
}

.notifications {
  .material-icons {
    margin: auto 0;
  }
  img {
    margin: auto 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  p {
    margin: auto 0;
    color: var(--default-header-icon-color);
    font-weight: bold;
    font-size: 70%;
  }
}

.greeting {
  img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  h1,
  p {
    color: var(--default-header-icon-color);
  }

  h1 {
    font-size: 0.9em;
  }

  p {
    font-size: 0.6em;
  }
}

.greeting-div {
  display: flex;
  gap: 0.6em;
  width: 85%;
  margin: auto;
}

.greeting-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  button {
    border: none;
    background-color: var(--default-dashboard-bg-color);
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    padding: 20px;
    width: 5em;
    border-radius: 50px;
  }
}

.projects {
  margin-left: 20px;
}

.title {
  margin-top: 20px;
  font-size: 1em;
  margin-bottom: 20px;
  color: var(--default-header-icon-color);
}

.announcements-container {
  height: 450px;
}

.trending-container {
  height: calc(100% - 160px);
}

.announcements-container,
.trending-container {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: space-evenly;
  border: 20px solid white;
  border-radius: 15px;
}

.announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding-bottom: 20px;
  h1,
  p {
    color: var(--default-header-icon-color);
    width: 90%;
    font-size: 0.5em;
  }
  border-bottom: 1px solid var(--default-header-icon-color);
}

.trending-container {
  justify-content: space-around;
}

.projects-content {
  justify-items: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
  grid-auto-rows: 275px;
  gap: 20px;
  margin-bottom: 80px;
}

.trending-item {
  gap: 20px;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
  font-size: 0.7em;

  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--default-header-icon-color);
}

.text {
  display: flex;
  flex-direction: column;
}

.handle,
.handle-description {
  color: var(--default-header-icon-color);
}

.camera {
  grid-area: camera;
}

.expand {
  grid-area: expand;
}

.share {
  grid-area: share;
}

.like {
  grid-area: like;
}

.card {
  display: grid;
  grid-template: 1fr 40px / 1fr repeat(3, 40px);
  grid-template-areas:
    "camera camera camera camera"
    "...... expand share  like";

  background-color: #ffffff;
  .camera {
    margin: auto;
    width: 80%;
  }

  h1,
  p {
    font-size: 0.6em;
    color: var(--default-header-icon-color);
  }

  .material-icons {
    color: var(--default-header-icon-color);
  }
  height: 275px;
  width: 425px;
  border-left: 10px solid orange;
  border-radius: 15px;
}
